# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
target/
*.class
*.jar
*.war
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Environment
.env

# Next.js
.next/
out/

# Project specific
*.db
